<form class="signup-form" [formGroup]="signupForm" novalidate (ngSubmit)="signup()">
    <img src="../../../../assets/title.png" class="title-img">
    <mat-form-field class="signup-input" floatLabel="never" hideRequiredMarker="false">
        <input name="email" matInput placeholder="Altoria@hotmail.com" formControlName="emailCtrl" required>
        <mat-hint>Please enter your email</mat-hint>
        <mat-error *ngIf="signupForm.get('emailCtrl').hasError('required')">
            email is
            <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!signupForm.get('emailCtrl').hasError('required') && signupForm.get('emailCtrl').hasError('email')">
            email format is not correct.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" floatLabel="never" hideRequiredMarker="false">
        <input name="pwd" type="password" matInput formControlName="pwdCtrl" required>
        <mat-hint>Please enter your password</mat-hint>
        <mat-error *ngIf="signupForm.get('pwdCtrl').hasError('length')">
            {{signupForm.get('pwdCtrl').getError('length')}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" floatLabel="never" hideRequiredMarker="false">
        <input name="pwd2" type="password" matInput formControlName="pwd2Ctrl" required>
        <mat-hint>Please confirm your password</mat-hint>
        <mat-error *ngIf="signupForm.get('pwd2Ctrl').hasError('length')">
            {{signupForm.get('pwd2Ctrl').getError('length')}}
        </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" floatLabel="never" hideRequiredMarker="false">
        <input name="chaptcha" type="text" matInput formControlName="chaptchaCtrl" required>
        <span matSuffix>
            <img [hidden]="IsChaptchaGot" src="../../../../assets/chaptcha_placeholder.png">
            <img [hidden]="!IsChaptchaGot" id="chaptcha" (click)="getChaptcha()">
        </span>
        <mat-hint>Please input the chaptcha</mat-hint>
        <mat-error *ngIf="signupForm.get('chaptchaCtrl').hasError('required')">
            chaptcha is
            <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-button color="primary" style="margin-top:30px">Register</button>
</form>
<div>
    <img id="chaptcha">
    <a href="http://localhost:54968/get/File">This is test</a>
    email Value: {{signupForm.get('emailCtrl').value}}
    <br> control value: {{signupForm.get('emailCtrl').value}}
    <br> status: {{signupForm.get('emailCtrl').status}}
    <br> prisitne: {{signupForm.get('emailCtrl').pristine}}
    <br> untouched {{signupForm.get('emailCtrl').untouched}}
    <br>
    <br> {{password}}
    <br> {{password2}}
    <br>
</div>
