.left-chart-nav{
    display: flex;
    flex-direction: column;
    background-color:rgb(41,60,85);
    height: 100%;
}

.chart-type-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55px;
}

.chart-type-link {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.chart-type-image{
    width: 40px;
    height: 40px;
}

.chart-type-spacer{
    width: 10px;
    height: 40px;
}

.chart-type-text{
    width: 50px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.chart-type-text:active{
    text-decoration: none;
} 

.sidenav-content-container{
    background-color: lightgray;
}

.chart-detail-content{
    height:1200px;
    margin-left: 20px;
    padding-top: 60px;
}

.chart-content-spacer{
    margin-top: 20px;
}

.chart-content-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 75px;
}

.chart-title-text{
    font-family: Arial, Helvetica, sans-serif;
}

.chart-detail-images-container{
    display: flex;
    flex-direction: row;
}

.chart-detail-image{
    width: 200px;
    height: 200px;
}

.fixed-left-side-nav{
    position: fixed;
    left: 0px;
    top: 63px;
    z-index: 1100;
}