<form #formBody class="signin-form" [formGroup]="signinForm" novalidate (ngSubmit)="signin()" [style.height]="">
  <img src="../../../../assets/title.png" class="title-img">

  <mat-form-field class="signin-input" floatLabel="never" hideRequiredMarker="false">
    <input name="email" matInput placeholder="Altoria@hotmail.com" formControlName="emailCtrl" required>
    <mat-hint>Please enter your email</mat-hint>
    <mat-error *ngIf="signinForm.get('emailCtrl').hasError('required')">
      email is
      <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="!signinForm.get('emailCtrl').hasError('required') && signinForm.get('emailCtrl').hasError('email')">
      email format is not correct.
    </mat-error>
  </mat-form-field>

  <div class="signin-spacer"></div>

  <mat-form-field class="signin-input" floatLabel="never" hideRequiredMarker="false">
    <input name="pwd" type="password" matInput formControlName="pwdCtrl" required>
    <mat-hint>Please enter your password</mat-hint>
    <mat-error *ngIf="signinForm.get('pwdCtrl').hasError('length')">
      {{signinForm.get('pwdCtrl').getError('length')}}
    </mat-error>
  </mat-form-field>


  <button type="submit" mat-raised-button color="primary" style="margin-top:30px">Login</button>
    <a class="signup-link" href="../account/signup">Create a new account</a>
    <a class="signup-link" href="../account/forget-password">Forget password?</a>
</form>
