<div class="fp-container">

  <div class="fp-box" style="margin-top: 50px">
    <h4>
      I forget my password
    </h4>
    <p>
      To reset your password, enter the email address you use and confirm by your email
      <strong>link</strong>.
    </p>
  </div>

  <form class="fp-box" #formBody [formGroup]="fpForm" novalidate>

    <mat-form-field class="fp-input">
      <input name="email" matInput placeholder="Email" formControlName="emailCtrl" required>
      <mat-hint>Please enter your email</mat-hint>
      <mat-error *ngIf="fpForm.get('emailCtrl').hasError('required')">
        email is
        <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!fpForm.get('emailCtrl').hasError('required') && fpForm.get('emailCtrl').hasError('email')">
        email format is not correct.
      </mat-error>
    </mat-form-field>

  </form>

  <div class="fp-box">
    <button mat-raised-button color="primary" style="margin-top:30px">Continue</button>
    <a mat-button routerLink="../signin">Back to Login</a>
  </div>
</div>
