.fp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../../assets/signin-bg.jpg');
  background-repeat: repeat;
  height: 100%;
}

.fp-box {
  min-width: 800px;
}

.fp-input {
  min-width: 300px;
  align-self: flex-start;
}

.fp-item {
  align-self: flex-start;
}
