<home-layout></home-layout>
<div class="manage-container">
    <div>
        <div class="transparent-div"></div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Account management
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-item">
                    <a class="highlight-hyperlink" mat-button routerLink="../change-password" routerLinkActive="active">Change password</a>
                    <!-- <a mat-button routerLink="../../signin" routerLinkActive="active">Forget password</a> -->
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Account management2
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="expansion-item">
                    <a mat-button routerLink="../signin" routerLinkActive="active">Change password2</a>
                    <a mat-button routerLink="../signin" routerLinkActive="active">Forget password2</a>
                </div>
            </mat-expansion-panel>
        </mat-accordion> -->
    </div>
    <div class="change-password-container">
        <div>
            <h1>Change Password</h1>
        </div>
        <div>
            <form #formBody class="change-password-form" [formGroup]="changePasswordForm" novalidate (ngSubmit)="changePassword()" [style.height]="">
                <mat-form-field class="password-input" floatLabel="never" hideRequiredMarker="false">
                    <input name="pwd" type="password" matInput formControlName="originalPasswordCtrl" required>
                    <mat-hint>Please enter your original password</mat-hint>
                    <mat-error *ngIf="changePasswordForm.get('originalPasswordCtrl').hasError('length')">
                        {{changePasswordForm.get('originalPasswordCtrl').getError('length')}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="password-input" floatLabel="never" hideRequiredMarker="false">
                    <input name="pwd" type="password" matInput formControlName="newPasswordCtrl" required>
                    <mat-hint>Please enter your new password</mat-hint>
                    <mat-error *ngIf="changePasswordForm.get('newPasswordCtrl').hasError('length')">
                        {{changePasswordForm.get('newPasswordCtrl').getError('length')}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="password-input" floatLabel="never" hideRequiredMarker="false">
                    <input name="pwd" type="password" matInput formControlName="comfirmNewPasswordCtrl" required>
                    <mat-hint>Please confirm your new password</mat-hint>
                    <mat-error *ngIf="changePasswordForm.get('comfirmNewPasswordCtrl').hasError('length')">
                        {{changePasswordForm.get('comfirmNewPasswordCtrl').getError('length')}}
                    </mat-error>
                </mat-form-field>
                <div class="change-password-spacer"></div>
                <button type="submit" mat-raised-button>Change Password</button>
            </form>
        </div>
    </div>
</div>